{:paths ["."]
 :tasks
 {:requires ([babashka.fs :as fs]
             [tasks-helper :as th])
  new {:doc "Create new blog article"
       :task (th/new)}
  build-highlighter {:doc "Build Clojure highlighter JS"
                     :task
                     (when
                         (seq (fs/modified-since "public/clojure_highlighter.js"
                               ["src"]))
     (shell "npx shadow-cljs release highlighter"))}
  render {:doc "Render blog"
          :depends [build-highlighter]
          :task (load-file "render.clj")}
  watch  {:depends [render]
          :doc "Watch posts and templates and call render on file changes"
          :task (load-file "watch.clj")}
  publish {:doc "Publish to blog.michielborkent.nl"
           :depends [render]
           :task (shell "rsync -a --delete public/ borkdude@michielborkent.nl:~/devblog")}
  clean {:doc "Remove .work and public directory"
         :task (do (fs/delete-tree ".work")
                   (fs/delete-tree "public"))}}}
