{:paths ["src"]
 :deps {rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        babashka/fs {:mvn/version "0.1.1"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        selmer/selmer {:mvn/version "1.12.44"}
        markdown-clj/markdown-clj {:mvn/version "1.10.7"}}}
