{:title "Figwheel keep Om turning!"
 :file "figwheel-keep-om-turning.md"
 :date "2014-09-25"
 :categories #{"clojure" "clojurescript" "figwheel" "om"}
 :legacy true}
{:title "My ClojureScript adventure at Øredev"
 :file "my-clojurescript-adventure-at-oredev.md"
 :date "2014-11-16"
 :categories #{"clojure", "clojurescript", "react" "om", "reagent"}
 :legacy true}
{:title "Migrating a Leiningen project to boot"
 :file "from-leiningen-to-boot.md"
 :date "2015-06-06"
 :categories #{"clojure", "leiningen", "boot" "clojurescript", "figwheel"}
 :legacy true}
{:title "Using the Clojure REPL with Java or Scala"
 :file "clojure-from-scala.md"
 :date "2016-07-26"
 :categories #{"clojure", "scala", "repl"}
 :legacy true}
{:title "One off experiments with Clojure and ClojureScript libraries"
 :file "one-off-clojure-libraries.md"
 :date "2016-10-19"
 :categories #{"clojure" "leiningen" "boot" "planck"}
 :legacy true}
{:title "Inline def: an effective* debugging technique for Clojure"
 :file "inline-def-debugging.md"
 :date "2017-05-25"
 :categories #{"clojure"}
 :legacy true}
{:title "Parsing a circuit with clojure.spec"
 :file "parsing-a-circuit-with-clojure-spec.md"
 :date "2017-10-10"
 :categories #{"clojure" "spec"}
 :legacy true}
{:title "Transducing a text file"
 :file "transducing-text.md"
 :date "2018-01-17"
 :categories #{"clojure"}
 :legacy true}
{:title "Clj-kondo hooks"
 :file "clj-kondo-hooks.md"
 :date "2020-06-21"
 :categories #{"clojure", "clj-kondo"}
 :legacy true}
{:title "Porting a macOS Clojure dev setup to Windows WSL2"
 :file "remote-wsl2-clojure.md"
 :date "2020-07-26"
 :categories #{"wsl2", "clojure"}
 :legacy true}
{:title "Replacing my Octopress blog with 200 lines of Babashka"
 :file "migrating-octopress-to-babashka.md"
 :categories #{"clojure"}
 :date "2021-10-25"
 :discuss "https://github.com/borkdude/blog/discussions/8"}
{:title "Speeding up builds with fs/modified-since"
 :file "speeding-up-builds-fs-modified-since.md"
 :categories #{"clojure"}
 :date "2021-10-30"
 :discuss "https://github.com/borkdude/blog/discussions/7"}
{:title "OSS Highlights of September - October 2021"
 :file "oss-highlights-sep-oct-2021.md"
 :categories #{"clojure"}
 :date "2021-11-03"
 :discuss "https://github.com/borkdude/blog/discussions/5"}
{:title "All the ways to shell out in babashka"
 :file "all-the-ways-to-shell-out-in-babashka.md"
 :categories #{"clojure"}
 :date "2021-11-04"
 :preview true}
{:title "Better Clojure highlighting with nextjournal/clojure-mode"
 :file "better-clojure-highlighting.md"
 :categories #{"clojure"}
 :date "2021-11-05"
 :discuss "https://github.com/borkdude/blog/discussions/4"}
