<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="style.css">
    {{header}}
  </head>
  <body class="index">
    <div style="max-width: 800px; margin: 0 auto 0 auto;">
      <div style="max-width: 800px">
        <h1><a href="index.html">REPL adventures</a></h1>
        <p>A blog mostly about Clojure and ClojureScript.</p>
        {{body | safe }}
      </div>
    </div>
  </body>
</html>
