<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <link type="application/atom+xml" rel="alternate" href="atom.xml" title="REPL Adventures">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="site-header">
      <div class="wrapper">
        <div class="site-nav">
          <a class="page-link" href="archive.html">Archive</a>
          <a class="page-link" href="https://github.com/borkdude/blog/discussions/categories/posts">Discuss</a>
          <a class="page-link" href="https://michielborkent.nl">About</a>
          <a class="page-link" href="atom.xml">
            <img class="page-icon" src="https://www.svgrepo.com/show/246458/rss-feed-rss.svg" width="30px"/>
          </a>
          <a class="page-link" href="https://twitter.com/borkdude">
            <img class="page-icon" src="https://www.svgrepo.com/show/201339/twitter.svg" width="30px"/>
          </a>
        </div>
        <div>
          <h1 class="site-title">
            <a class="page-link" href="index.html">REPL adventures</a>
          </h1>
          <p>A blog mostly about Clojure and ClojureScript.</p>
        </div>
      </div>
    </div>

    <div class="wrapper">

      {{body | safe }}

      {% if not skip-archive %}
      <div style="margin-bottom: 20px; float: right;">
        <a class="page-link" href="archive.html">Archive</a>
      </div>
      {% endif %}
    </div>
  </body>
</html>
